@import '../variable', '../breakpoint', '../mixin';

header {
	font-size: 1.5rem;
	background-color: $bordeaux;
	width: 100%;

	@include mobile {
		width: 100%;
	}
}

a {
	text-decoration: none;
	color: $white;
	&:visited {
		color: $white;
	}
}

.headerWrapper {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 30px;
	color: $white;

	.imgLogo {
		display: flex;
		align-items: center;
		@include mobile {
			margin-top: -15px;
		}

		img {
			width: 300px;
			object-fit: initial;
			@include mobile {
				width: 225px;
			}
		}
	}

	ul {
		display: flex;
		margin-left: 50px;
		@include mobile-tablet {
			margin-left: 0;
			justify-content: center;
			padding-bottom: 50px;
		}
	}

	li {
		list-style-type: none;
		@include textShadow;

		&:not(:last-child) {
			padding-right: 40px;
		}

		a:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

@include mobile-tablet {
	.headerWrapper {
		flex-direction: column;
	}
}