@charset "UTF-8";

@font-face {
  font-family: 'Adequate';
  font-weight: normal;
  src: url("../font/Adequate-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Adequate';
  font-weight: bold;
  src: url("../font/Adequate-Bold.ttf") format("truetype");
}

html {
  color: #000;
  background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}

del,
ins {
  text-decoration: none;
}

li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,
button,
textarea,
select {
  *font-size: 100%;
}

header {
  font-size: 1.5rem;
  background-color: #830303;
  width: 100%;
}

@media (max-width: calc(768px - 1px)) {
  header {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.headerWrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 50px 30px;
  color: white;
}

.headerWrapper .imgLogo {
  display: flex;
  align-items: center;
}

@media (max-width: calc(768px - 1px)) {
  .headerWrapper .imgLogo {
    margin-top: -15px;
  }
}

.headerWrapper .imgLogo img {
  width: 300px;
  object-fit: initial;
}

@media (max-width: calc(768px - 1px)) {
  .headerWrapper .imgLogo img {
    width: 225px;
  }
}

.headerWrapper ul {
  display: flex;
  margin-left: 50px;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: calc(1024px - 1px)) {
  .headerWrapper ul {
    margin-left: 0;
    justify-content: center;
  }
}

.headerWrapper li {
  list-style-type: none;
  text-shadow: 0px 0px 4px black;
}

.menuSection {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
}

.menuSection li {
  background-color: #830303;
  color: #FFF;
  padding: 20px 30px;
}

@media (max-width: calc(1024px - 1px)) {
  .menuSection {
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 10px;
  }

  .menuSection li {
    padding: 5px 10px;
    margin: 8px;
  }
}

.headerWrapper li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: calc(1024px - 1px)) {
  .headerWrapper {
    flex-direction: column;
  }
}

table,
h2 {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

tr {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto auto;
  grid-template-areas: "nome nome" "ingredienti price";
  padding: 10px 0;
}

.name {
  grid-area: nome;
  font-weight: bold;
}

.nameSup {
  width: auto;
}

.ingredienti {
  grid-area: ingredienti;
}

.price {
  grid-area: price;
  align-self: end;
  padding-left: 7px;
}

.price,
.priceSup {
  text-align: right;
}

.price::after,
.priceSup::after {
  content: '€';
  padding-left: 3px;
}

footer {
  background-color: #830303;
  padding: 50px 10px;
  text-align: center;
  color: white;
}

body {
  font-family: Adequate;
  font-size: 16px;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 50px 30px;
  color: #830303;
  text-align: center;
}

@media (max-width: calc(768px - 1px)) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 1.8rem;
  color: #830303;
  padding-bottom: 15px;
  padding-top: 50px;
}