header {
  font-size: 1.5rem; }
  @media (max-width: calc(768px - 1px)) {
    header {
      width: 100%; } }

a {
  text-decoration: none;
  color: white; }
  a:visited {
    color: white; }

.headerWrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  color: white; }
  .headerWrapper .imglogo {
    display: flex;
    align-items: center; }
    @media (max-width: calc(768px - 1px)) {
      .headerWrapper .imglogo {
        margin-top: -15px; } }
    .headerWrapper .imglogo img {
      width: 300px;
      object-fit: initial; }
      @media (max-width: calc(768px - 1px)) {
        .headerWrapper .imglogo img {
          width: 225px; } }
  .headerWrapper ul {
    display: flex;
    margin-left: 50px; }
    @media (max-width: calc(1024px - 1px)) {
      .headerWrapper ul {
        margin-left: 0;
        justify-content: center;
        padding-bottom: 50px; } }
  .headerWrapper li {
    list-style-type: none;
    text-shadow: 0px 0px 8px black; }
    .headerWrapper li:not(:last-child) {
      padding-right: 40px; }
    .headerWrapper li:hover {
      cursor: pointer;
      text-decoration: underline; }

@media (max-width: calc(1024px - 1px)) {
  .headerWrapper {
    flex-direction: column; } }
