header {
  position: absolute;
  width: 100%;
  top: -20px;
  margin-bottom: 40px;
  font-size: 1.5rem; }

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  color: white; }
  .headerWrapper .imglogo {
    display: flex;
    align-items: center; }
    .headerWrapper .imglogo img {
      width: 400px;
      object-fit: initial; }
      @media (max-width: calc(768px - 1px)) {
        .headerWrapper .imglogo img {
          width: 225px; } }
  .headerWrapper ul {
    display: flex; }
  .headerWrapper li {
    list-style-type: none;
    text-shadow: 0px 0px 8px black; }
    .headerWrapper li:not(:last-child) {
      padding-right: 40px; }
    .headerWrapper li:hover {
      cursor: pointer;
      text-decoration: underline; }

@media (max-width: calc(1024px - 1px)) {
  .headerWrapper {
    flex-direction: column; } }
