.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: lightgrey; }
  @media (max-width: calc(1024px - 1px)) {
    .social {
      flex-direction: column; } }
  .social h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 50px 30px;
    color: #830303;
    font-size: 2.2rem;
    font-weight: normal;
    width: 50%; }
    @media (max-width: calc(768px - 1px)) {
      .social h2 {
        font-size: 2.2rem; } }
    @media (max-width: calc(1024px - 1px)) {
      .social h2 {
        width: auto;
        padding: 0; } }
  .social .socialsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; }
  .social .facebook {
    width: 100px;
    padding-right: 80px; }
  .social .tripadvisor {
    width: 130px;
    margin-top: 25px; }
