@font-face {
    font-family: 'Adequate';
    font-weight: normal;
    src: url('../font/Adequate-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Adequate';
    font-weight: bold;
    src: url('../font/Adequate-Bold.ttf') format('truetype');
}