@import 'font', 'variable', 'reset', 'breakpoint', 'mixin';
@import './component/header.scss';
@import './component/sectionFullScreen.scss';
@import './component/ourSecret.scss';
@import './component/social.scss';
@import './component/ordinaQui.scss';
@import './component/footer.scss';

body {
    font-family: Adequate;
    font-size: 16px;
    margin: 0;
}

header {
    background-color: transparent;
    position: absolute;
    top: 0;
}


hr {
    display: none;

    @include mobile {
        display: block;
        margin-top: 230px;
        width: 80px;
    }

    @include tablet {
        display: block;
        margin-top: 300px;
        width: 100px;
    }
}

img {
    object-fit: cover;
}

button {
    outline: transparent;
}

@include desktop {
    main {
        margin-top: 80px;
    }
}