@import 'font', 'variable', 'reset';
@import './component/header.scss';
@import './component/sectionFullScreen.scss';
@import './component/ourSecret.scss';
@import './component/social.scss';
@import './component/ordinaQui.scss';
@import './component/footer.scss';

body { 
    font-family: Adequate;
    font-size: 16px;
    margin: 0;

    header {
        position: absolute;
        top: 0;
    }

    img {
        object-fit: cover;
    }

    main {
        margin-top: 80px;
    }

    button {
        outline: transparent;
    }
}